*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .result{
      display: flex;
      justify-content: space-around;
      min-height: 10vh;
      width: 90%;
      margin: auto;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      color:white;
  }
  ul{
      display: flex;
      list-style: none;
      width: 70%;
      align-items: center;
      justify-content: center;
      
  }
  li{
      margin: 5% 4%;
  }