/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .result{
      display: flex;
      justify-content: space-around;
      min-height: 5vh;
      width: 60%;
      margin: auto;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,0.2);
      color:white;
  }
  */
