*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:teal;
}
.search{
  min-height: 10vh;
  min-width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
input, button{
  padding: 0.5rem 1rem;
  margin-left: 0.3rem;
  font-size: 1rem;
}
h2{
  text-align: center;
}
.loading{
  margin-left: 50%;
}
.wrong{
  text-align: center;
  color: rgb(255, 217, 0);
  font-size: 2rem;
}